* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #6B7DB3;
}

#grid-container {
    display: grid;
    align-self: center;
    width: 960px;
    height: 960px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.grid-item {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background: white;
}

#color-select {
    width: 20%;
    height: 100%;
    border-left: 2px solid rgb(87, 102, 146);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #9999ff;
}

.color-menu {
    display: grid;
    width: 180px;
    height: 540px;
    margin-top: 350px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    grid-template-columns: 90px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
}

.color-grid-item {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#app-title {
    position: absolute;
}

.credit {
    position: absolute;
    bottom: 0;
    font-size: 25px;
    color: black;
}

#black {
    background: black;
}

#white {
    background: white;
}

#brown {
    background: brown;
}

#grey {
    background: grey;
}

#red {
    background: red;
}

#orange {
    background: orange;
}

#yellow {
    background: yellow;
}

#green {
    background: green;
}

#teal {
    background: teal;
}

#blue {
    background: blue;
}

#purple {
    background: purple;
}

#pink {
    background: pink;
}